@use 'VARIABLES' as *;

/* BASE */
html,
body {
    width: 100%;
    position: relative;
    overflow-x: hidden;
}

body {
    font-family: $body-font;
    color: $text-dark;
    margin: 0;
    box-sizing: border-box;
    padding: $spacing-sm 0 0 0;
    background-color: $bg-white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main, header {
    width: 100%;
    margin: 0;
}
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


h1 {
    font-family: $heading-font;
    font-weight: 600;
    font-size: $h1-size;
    margin: 0;
    width: 100%;
    letter-spacing: -1px;
    line-height: $h1-height;
}

h2 {
    font-family: $heading-font;
    font-weight: 600;
    font-size: $h3-size;
    margin: 0;
    width: 100%;
}

h3 {
    font-family: $heading-font;
    font-weight: 500;
    font-size: $h3-size;
    margin: 0;
    width: 100%;
}

h4 {
    font-family: $heading-font;
    font-weight: 500;
    font-size: $h4-size;
    margin: 0;
    width: 100%;
    letter-spacing: 0.25px;
}

h5 {
    font-family: $heading-font;
    font-weight: 500;
    font-size: $h5-size;
    margin: 0;
    width: 100%;
}

h6 {
    font-family: $heading-font;
    font-weight: 500;
    font-size: $h6-size;
    margin: 0;
    width: 100%;
}

a {
    text-decoration: none;
    color: $purple-1;
    font-weight: 500;
    transition: color 0.25s ease;
}

a:hover {
    color: $primary-accent;
}

p {
    font-size: $p-size;
    line-height: $p-height;
    font-weight: 400;
    margin: $spacing-md 0;
}
.subtitle,
.subtitle2 {
    color: $purple-1;
    font-family: $heading-font;
    font-weight: 500;
    font-size: $subtitle-size;
    line-height: $subtitle-height;
}

.subtitle2 {
    color: $blue-1;
}

.secondary-text {
    font-size: $secondary-text-size;
    line-height: $secondary-text-height;
    color: $text-grey;
    letter-spacing: 0.25px;
}

