@use 'VARIABLES' as *;
/* FOOTER */
.footer {
    display: flex;
    justify-content: center;
    background-color: $bg-light;
    padding: $spacing-xl 0;
}



.footer-logo {
    max-width: 108px;
    margin: 0 0 $spacing-md 0;
}

.footer .col {
    width: 25%;
}

.footer .col ul {
    list-style-type: none;
    padding: 0;
}

.footer .col ul li {
    margin: $spacing-md 0;
}

.footer .col a {
    color: $text-dark;
    font-weight: normal;
}

.footer .col a:hover {
    color: $purple-1;
    text-decoration: underline;
}

.footer .icon-link {
    display: flex;
    align-items: center;
    margin: $spacing-md 0;
}

.footer .icon-link a {
    margin: $spacing-sm;
}

.footer .icon-link img {
    width: 25px;
}

.footer h3 {
    font-size: $h6-size;
    font-weight: 700;
}