@use 'variables';

/* NAVBAR */

.navbars {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    max-width: variables.$standard-width;
    padding: 0 variables.$spacing-md variables.$spacing-xl variables.$spacing-md;
    margin: 0 0 variables.$spacing-xl 0;

    .menu {
        display: flex;
        list-style: none;
        justify-content: center;
        align-items: center;
        margin: 0;
        a {
            color: variables.$text-light;
            margin: 0 variables.$spacing-md;
            font-weight: bold;
        }
        a:hover {
            text-decoration: underline;
        }
    }

}




.navbar-button {
    background-color: rgba(250, 250, 250, 0.25);
    &:hover {
        background-color: rgba(250, 250, 250, 0.5);
    }
}


.hamburger-button {
    display: none;
}



/* ANIMATED GRADIENT */
#gradient-canvas {
    width: 200%;
    height: 970px;
    transform: rotate(-10deg);
    position: absolute;
    top: -600px;
    left: -50%;
    z-index: -1;
    --gradient-color-1: #ef008f;
    --gradient-color-2: #6ec3f4;
    --gradient-color-3: #7038ff;
    --gradient-color-4: #ffba27;
}

