@use 'variables';


.container {
    width: 100%;
    max-width: variables.$standard-width;
}


.cards {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: variables.$spacing-sm variables.$spacing-md variables.$spacing-sm 0;

    .icon {
        height: 50px;
        margin: 0 0 variables.$spacing-sm 0;
    }
    
    h3 {
        font-family: variables.$heading-font;
        font-weight: 500;
        font-size: variables.$h6-size;
        margin: 0;
        width: 100%;
    }
}


