@use '../VARIABLES' as *;

/* TABLET SIZE */
@media only screen and (max-width:768px) {
    :root {
        $h1-size: 64px;
        $h1-height: 72px;
        $h3-size: 34px;
        $h6-size: 16px
    }

    main {
        margin: 0;
    }

    .navbars {
        margin: $spacing-sm 0 $spacing-lg 0;
    }

    .navbars .menu {
        display: none;
    }

    .navbars .navbar-button {
        display: none;
    }

    .navbars .hamburger-button {

        display: flex;

    }

    .hero-phone {
        height: 450px;
        transform: translate(32px);
    }

    .partners-grid {
        grid-template-columns: 1fr 1fr;
    }

    .unified-platform-section {
        padding-bottom: $spacing-sm;
    }

    .unified-platform-section h2 {
        width: 100%;
    }

    .graphic-section .graphic-grid {
        gap: $spacing-sm;
    }

    .integration-section {
        padding: $spacing-xl 0;
    }

    .integration-section::before {
        height: 900px;
    }

    .integration-section .cards-container {
        flex-direction: column;
    }

    .integration-section .cards-container .cards {
        width: 100%;
    }

    .why-swipe-section {
        padding: 0;
    }

    .why-swipe-section .cards-container {
        flex-wrap: wrap;
    }

    .why-swipe-section .cards-container .cards {
        width: 50%;
        margin: $spacing-sm 0;
    }

    .global-section .cards-container {
        flex-wrap: wrap;
        margin: $spacing-xl 0;
    }

    .global-section .cards-container .cards {
        width: 50%;
        margin: $spacing-md 0;
    }

    .virtual-events-section {
        padding: $spacing-xl 0 $spacing-sm 0;
    }
}
